<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mb-5">
    <h1 class="mt-5">Edit post:</h1>
    <div th:each="el : ${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Input name" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Input anons" class="form-control"><br>
            <textarea th:text="${el.full_text}" name="full_text" placeholder="Input article" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Commit</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>